<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>YKS 2024 Sonuçları</title>
		<style>
			
			.selected {
				color:#F5D042;
				background-color:#0A174E;
				border-radius: 25px;
				border: 2px solid red;
  			padding: 10px;
			}
			
			table, th, td {
				border:1px solid black;
			}
		</style>
	</head>
	<body>
		<input  class="js-searchBar"type="text" placeholder="Okullar yükleniyor..."></input>
		<p id="list">
		
		</p>
		<p id="js-resultShowCase" style="user-select: none;">
			
		</p>
		<p>
			İnternette herkese açık veriler kullanılarak <span style="color:red; cursor: pointer;  " onclick="window.location.href='https://linkedin.com/in/volkan-tastemir-ba08a0317';">Volkan Taştemir</span> tarafından kodlanmıştır.
		</p>
		<script src="/library/fuse.min.js"></script>
		<script src="/objects.js"></script>
		<script src="/searchBox.js"></script>
	</body>
</html>